<!-- Experiences Section -->
<section id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Expérience professionnelle</h2>
                    <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/experiences/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Été 2019</h4>
                                <h4 class="subheading">Apprentie développeuse web chez Groupama Supports et Services</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">7 Allée Claude Debussy, 69130 Écully</p>
                                <p class="text-muted">J'ai notamment travaillé dans le projet Néo, nouvel outil pour les conseillers et commerciaux du groupe. J'étais dans une équipe qui utilisait la méthodologie agile Scrum à l'échelle. Nous utilisions une architecture en microservices (Java, Springboot) et en microfronts (Vue.js 3).</p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/experiences/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Avril - Juin 2020</h4>
                                <h4 class="subheading">Stage à Université Côte d'Azur</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">J'ai développé le site web mettant en avant le projet <i>Formation en Génie Logiciel pour le développement d’applications en support à la population vieillissante</i>.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/experiences/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Été 2019</h4>
                                <h4 class="subheading">Employée de magasin chez La Grande Récré, Nice</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">24 Avenue Jean Médecin, 06000 Nice</p>
                                <p class="text-muted">Je me suis occupée d'accueillir et de conseiller les clients. J'étais aussi en charge de la caisse et du nettoyage du magasin.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/experiences/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Depuis 2018</h4>
                                <h4 class="subheading">Babysitting chez des particuliers, Nice</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Je m'occupe de bébés et d'enfants, ce qui inclue les bains, les repas et les jeux.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
