<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
    {% assign memberindex = 0 %}
            {% for post in site.posts %}
    {% assign memberindex = memberindex | plus: 1 %}
    {% assign colindex = memberindex | modulo: 3 %}
    {% if colindex == 1 %}
    <!-- opening of a new row -->
    <div class="row">
    {% endif %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
    {% if colindex == 0 %}
    <!-- closing a row -->
    </div>
    {% endif %}
            {% endfor %}
        </div>
    </section>
