---
layout: default
---

<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
    <header id="main" style="">
        {% unless page.hide_title %}
        <h1 class="title">{{ page.title }}</h1>
        {% include enseignement_content.html item=page %}
        {% endunless %}
    </header>
    
    {{ content }}
    {% if page.link %}
        <a href="{{ page.link }}">Lien externe vers l'enseignement</a>
    {% endif %}


    <h2>Supports de cours</h2>
    {% assign supportscours = site.supportscours | sort: 'date' | reverse %}
    
    {%- for item2 in supportscours -%}
    {%- if item2.enseignement == page.title -%}
    <span>
        <header>
            <h3>
                <a aria-label="{{ item2.title }}" href="{{ item2.url | relative_url }}">
                    {{ item2.title }}
                </a>
            </h3>
            {%- include enseignement_info.html item = item2 -%}
        </header>
    </span>
    {%- endif -%}
    {%- endfor -%}


    <h2>Travaux étudiants</h2>
    {% assign travauxetudiants = site.travauxetudiants | sort: 'date' | reverse %}
    
    {%- for item3 in travauxetudiants -%}
    {%- if item3.enseignement == page.title -%}
    <span>
        <header>
            <h3>
                <a aria-label="{{ item3.title }}" href="{{ item3.url | relative_url }}">
                    {{ item3.title }}
                </a>
            </h3>
            {%- include travauxetudiants_info.html item = item3 -%}
        </header>
    </span>
    {%- endif -%}
    {%- endfor -%}

    <!-- Social media shares -->
    {% include share_buttons.html %}

</article>

<!-- Post navigation -->
{% if site.post_navigation  or site.theme_settings.post_navigation %}
{% include post_nav.html %}
{% endif %}
