---
layout: default
---

<div class="home">

    <div id="main" class="call-out" style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
    
    <section class="souspartie">
        <h1>News</h1>
        {% include blog.html filterBy="news" %}
    </section>
    

    <section class="souspartie">
        <h1>Description du projet</h1>

        <p>Eodem tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo, quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur imperium, ut cupiebat, et cunctum.</p>

        <p>Post haec Gallus Hierapolim profecturus ut expeditioni specie tenus adesset, Antiochensi plebi suppliciter obsecranti ut inediae dispelleret metum, quae per multas difficilisque causas adfore iam sperabatur, non ut mos est principibus, quorum diffusa potestas localibus subinde medetur aerumnis, disponi quicquam statuit vel ex provinciis alimenta transferri conterminis, sed consularem Syriae Theophilum prope adstantem ultima metuenti multitudini dedit id adsidue replicando quod invito rectore nullus egere poterit victu.</p>

        <p>Ut enim quisque sibi plurimum confidit et ut quisque maxime virtute et sapientia sic munitus est, ut nullo egeat suaque omnia in se ipso posita iudicet, ita in amicitiis expetendis colendisque maxime excellit. Quid enim? Africanus indigens mei? Minime hercule! ac ne ego quidem illius; sed ego admiratione quadam virtutis eius, ille vicissim opinione fortasse non nulla, quam de meis moribus habebat, me dilexit; auxit benevolentiam consuetudo. Sed quamquam utilitates multae et magnae consecutae sunt, non sunt tamen ab earum spe causae diligendi profectae.</p>
    </section>


    <section class="souspartie">
        <h1>Objectifs</h1>

        <div style="padding-bottom: 3em;">
            <img src="{{ site.url }}/assets/img/icones/objectif1.jpg" style="float: right; height: 10em;">
            <h2>Identifier les synergies entre les partenaires</h2>
            <p>vis à vis de leurs expertises en enseignement aux trois cycles de ces thématiques, afin de déterminer les cours et matériels associés adaptés au développement de modules dédiés aux populations vieillissantes.</p>
        </div>

        <div style="padding-bottom: 3em;">
            <img src="{{ site.url }}/assets/img/icones/objectif2.jpg" style="float: left; height: 10em;">
            <h2 style="text-align: right;">Développer une offre de cours commune</h2>
            <p style="text-align: right;">pour permettre au baccalauréat une sensibilisation aux problématiques de développement d’applications pour les aînés, et à la maitrise un cours de spécialité interdisciplinaire dédié.</p>
        </div>

        <div style="padding-bottom: 3em;">
            <img src="{{ site.url }}/assets/img/icones/objectif3.jpg" style="float: right; height: 10em;">
            <h2>Publier une plateforme web participative</h2>
            <p>du matériel de cours pour permettre la mise à disposition des cours, des bonnes pratiques et des retours d’expérience de mise en oeuvre de ces cours.</p>
        </div>
    </section>


    <section class="souspartie">
        <h1>Compétences de l'équipe</h1>


        {% assign competences = site.data.competences %}
        {% assign memberindex = 0 %}

        {% for competence in competences %}
        {% assign memberindex = memberindex | plus: 1 %}
        {% assign colindex = memberindex | modulo: 3 %}
        {% if colindex == 1 %}
        <!-- opening of a new row -->
        <div class="row">
            {% endif %}
            <div class="col-md-4 memberbox">
                <div class="media">
                    <div class="media-body">
                        <div class="head media-heading member-name"><h3>{{ competence.name }}</h3></div>
                        <img class="media-object competence-photo" src="{{ competence.image | relative_url }}">
                        <p class="souslabel">{{ competence.short }}</p>
                    </div>
                </div>
            </div>
            {% if colindex == 0 %}
            <!-- closing a row -->
        </div>
        <div class="bigspacer"></div>
        {% endif %}
        {% endfor %}
    </section>

</div>