---
layout: default
---

<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
    <header id="main" style="">
        {% unless page.hide_title %}
        <h1 class="title">{{ page.title }}</h1>
        {% include support_content.html item=page %}
        {% endunless %}
    </header>
    
    {{ content }}
    {% if page.link %}
        <a href="{{ page.link }}">Lien externe vers le support</a>
    {% endif %}

    <!-- Social media shares -->
    {% include share_buttons.html %}

</article>

<!-- Post navigation -->
{% if site.post_navigation  or site.theme_settings.post_navigation %}
{% include post_nav.html %}
{% endif %}